nav {
    background-color: palevioletred;

}

.carrito {
    display: flex;
    justify-content: flex-end;

}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    padding: 10px;
}